langchain
langchain-community
langchain-openai
openai
chromadb
tiktoken
python-dotenv
requests
streamlit
sentence-transformers
# BM25 dependencies
rank-bm25
# AstraDB dependencies
cassio
langchain-astradb
astrapy
beautifulsoup4
